{% extends "base_generic.html" %}

{% block title %}
    <title>Local Library Home Page</title>
{% endblock %}

{% block content %}

    <h2>Local Library Home</h2>
    <p>Welcome to the Local Library, a website developed by Jon based on the <em>Mozilla Developer Network</em> tutorial</p>
    <h4>Current library stock</h4>
    <p>The library has the following record counts:</p>
    <ul>
        <li><strong>Books:</strong> {{ num_books }}</li>
        <li><strong>Copies:</strong> {{ num_instances }}</li>
        <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
        <li><strong>Authors:</strong> {{ num_authors }}</li>
        <li><strong>Genres:</strong> {{ genre_instances }}</li>
        <li><strong>Japan-related books:</strong> {{ japan_books_available }}</li>
    </ul>
    <p>You have visited this page {{ num_visits }}
       {% if num_visits == 1 %} time
       {% else %} times
       {% endif %}.</p>

{% endblock %}